
<%# #@post.comments.arrange.each do |comment| %>
<% @comments_array.reverse.each do |comment| %>
<div class="box">
<p><%= comment.body 
%>
 <br>
 <%= link_to "Reply" %> 
<%= form_for [@post, @post.comments.build ] do |f| %>
<p> comment </p>


<%= f.hidden_field :parent_id, :value =>  comment.id %>
<%= f.text_area :body%>
<br>
<%= f.submit %>
<% end %>

</p>



<% comment.descendants.reverse.each do |child| %>
<div class="child">
<p>
<%= child.body %>
<br>
<%= link_to "Reply"#, new_post_comment_path(post_id: @post, :parent_id => child)
 %> 
</p>
</div>

<% end %>


</div>
<% end %>
